*{
margin: 0px;
padding: 0px;
}
body{
    padding:0px;
}
.padding{
    padding: 2rem;
}
.overlay{
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.205);

}.nav-link{
    text-shadow: 1px 0px 1px black ;
}
.fa-facebook{
    color: #3b5998;
    }
    .fa-twitter{
    color: #00aced;
    }
    .fa-google-plus-g{
    color: #dd4b39;
    }
    .fa-instagram{
        color: #bb0000;
    
    }
    .fa-facebook, .fa-twitter,.fa-google-plus-g, .fa-instagram{
    font-size: 1.5rem;
    margin:.5rem;
    }